body {
  background-color: #D9D9D9;
  text-align: center;
}

.intro {
  color: red;
}

.superboring {
  font-style: italic;
}

.highlight {
  background-color: black;
  color: white;
  border: solid red 3px;
}
